__pycache__/
*.pyc
build/
dist/
.DS_Store
*.egg-info/
/01-main-package/dist/
/01-main-package/build/
/01-main-package/videowall.egg-info/
/01-main-package/prevrevs/
/01-main-package/videowall/__pycache__/
/01-main-package/docs/_build/
/05-archive/
.idea/
.vscode/
node_modules/
*.log
.env
.venv
env/
venv/
target/
site/
*.sqlite3